---
import items from "../data/items.json";
const meetups = items.filter(({ type }) => type === "meetup");
const conferences = items.filter(({ type }) => type === "conference");
---

<html lang="en">
  <head>
    <title>RSA Tech Communities | FEDSA</title>
    <meta name="title" content="RSA Tech Communities | FEDSA" />

    <meta
      name="description"
      content="Discover the latest events, engage with thriving communities, participate in immersive online workshops, and access enriching educational content—all designed to elevate your coding prowess."
    />

    <meta property="og:type" content="website" />

    <meta
      property="og:url"
      content="https://listing-page-tech-communities-south-africa.vercel.app/meta/preview.png"
    />

    <meta property="og:title" content="RSA Tech Communities | FEDSA" />

    <meta
      property="og:description"
      content="Discover the latest events, engage with thriving communities, participate in immersive online workshops, and access enriching educational content—all designed to elevate your coding prowess."
    />

    <meta
      property="og:image"
      content="https://listing-page-tech-communities-south-africa.vercel.app/meta/preview.png"
    />

    <meta property="twitter:card" content="summary_large_image" />
    <meta
      property="twitter:url"
      content="https://listing-page-tech-communities-south-africa.vercel.app"
    />
    <meta property="twitter:title" content="RSA Tech Communities | FEDSA" />

    <meta
      property="twitter:description"
      content="Discover the latest events, engage with thriving communities, participate in immersive online workshops, and access enriching educational content—all designed to elevate your coding prowess."
    />

    <meta
      property="twitter:image"
      content="https://listing-page-tech-communities-south-africa.vercel.app/meta/preview.png"
    />
  </head>

  <body>
    <div class="flex flex-col md:flex-row p-5">
      <div class="md:w-[50%] md:order-last mb-5">
        <img
          class="max-h-[20rem] rounded"
          src="/images/flag.png"
          alt="Banner"
        />
      </div>
      <div class="md:w-[50%]">
        <h1 class="md:text-[2rem] text-[2rem] md:max-w-[30rem] mb-5 font-bold">
          Communities, Events & Resources
        </h1>
        <p class="md:text-lg md:max-w-[25rem]">
          Discover the latest Events, engage with thriving Communities,
          participate in immersive Online Workshops, and access enriching
          Educational Content—all designed to elevate your coding prowess.
        </p>
        <div
          class="flex mt-5 text-xs md:place-content-start place-content-center justify-between"
        >
          <div class="mr-2">
            <button class="rounded p-2 bg-slate-700 text-white">Events</button>
          </div>
          <div class="mr-2">
            <button class="rounded p-2 bg-slate-700 text-white"
              >Conferences</button
            >
          </div>
          <div>
            <button class="rounded p-2 bg-slate-700 text-white"
              >Resources</button
            >
          </div>
        </div>
      </div>
    </div>
    <h2>Meetups</h2>
    <ul>
      {meetups.map((data) => <li>{data.name}</li>)}
    </ul>

    <h2>Conferences</h2>
    <ul>
      {conferences.map((data) => <li>{data.name}</li>)}
    </ul>
  </body>
</html>
