---
import example from '../data/example.json'
---
<html lang="en">
  <head>
    <title>My Homepage</title>
  </head>
  <body>
    <h1>Welcome to my website!</h1>
	<ul>
		{example.map((data) => <li>{data.title}</li>)}
	</ul>
  </body>
</html>